build/
install/
log/
agnocast_daemon/build/
agnocast_daemon/build_test/
*.log
coverage_report_agnocastlib
.vscode
agnocast_kmod_coverage_report
*.pyc
__pycache__
*.deb
*.ddeb
*.dsc
*.xz
*.gz
*.buildinfo
*.changes
*.build
*.upload
*.o.d
